<!DOCTYPE html>
<html>
{% load staticfiles %}
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta http-equiv="Content-Script-Type" content="text/javascript"/>
    <meta http-equiv="Content-Style-Type" content="text/css"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <title>카카오페이지 운영</title>
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/admin_v2.css' %}">
    <script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>
</head>
<body>
<div class="headerInfo">
    <div class="headerInfo_inner clearfix">
        <div class="sec02 fltR center">
        </div>
    </div>
</div>

<div id="wrapper">
    <div id="contents" class="content">
        {% block content %}{% endblock %}
    </div>
</div>

<div id="footer" class="footer">
</div>

</body>
</html>
