<ul id="mainHomeTree" class="mainTree">메인홈 관리
    <li id="mainHome_1" class="subTree"><a href="/admin/v4mgm/0">> 메인홈</a></li>
</ul>
<ul id="comicHomeTree" class="mainTree">만화 카테고리 관리
    <li id="comicHome_1" class="subTree"><a href="/admin/v4mgm/1000">> 웹툰</a></li>
    <li id="comicHome_2" class="subTree"><a href="/admin/v4mgm/1001">> 기다리면 무료</a></li>
    <li id="comicHome_3" class="subTree"><a href="/admin/v4mgm/69">> 순정</a></li>
    <li id="comicHome_4" class="subTree"><a href="/admin/v4mgm/115">> 소년</a></li>
    <li id="comicHome_5" class="subTree"><a href="/admin/v4mgm/112">> 액션/무협</a></li>
</ul>
<ul id="novelHomeTree" class="mainTree">소설 카테고리 관리
    <li id="novelHome_1" class="subTree"><a href="/admin/v4mgm/1100">> 웹소설</a></li>
    <li id="novelHome_2" class="subTree"><a href="/admin/v4mgm/1101">> 기다리면 무료</a></li>
    <li id="novelHome_3" class="subTree"><a href="/admin/v4mgm/86">> 판타지</a></li>
    <li id="novelHome_4" class="subTree"><a href="/admin/v4mgm/87">> 무협</a></li>
    <li id="novelHome_5" class="subTree"><a href="/admin/v4mgm/89">> 로맨스</a></li>
</ul>
<ul id="bookHomeTree" class="mainTree">책 카테고리 관리
    <li id="bookHome_1" class="subTree"><a href="/admin/v4mgm/1601">> 기다리면 무료</a></li>
    <li id="bookHome_2" class="subTree"><a href="/admin/v4mgm/84">> 문학</a></li>
    <li id="bookHome_3" class="subTree"><a href="/admin/v4mgm/40">> 고전5</a></li>
    <li id="bookHome_4" class="subTree"><a href="/admin/v4mgm/113">> 학습만화</a></li>
</ul>
<ul id="lifeHomeTree" class="mainTree">라이프 카테고리 관리
    <li id="lifeHome_1" class="subTree"><a href="/admin/v4mgm/100">> 오늘의 라이프</a></li>
    <li id="lifeHome_2" class="subTree"><a href="/admin/v4mgm/51">> 취미/실용</a></li>
    <li id="lifeHome_3" class="subTree"><a href="/admin/v4mgm/52">> 교육/강좌</a></li>
</ul>